.blok1
{
	/*ackground:#000000;
	color:#000000;
	font-size:50px;
	font-weight: 700;
	width:101%; /*101%*/
	height:450px;
	margin-top:-40px;
	padding-top:100px;
	text-align: center; 
	line-height:0px;
}

.tx1B1
{
	font-weight: 400;
	padding:0px 50px 0px 50px; 
	line-height:55px;
}
.tx2B1
{
	font-weight: 400;
	padding:0px 50px 0px 50px; 
	font-size:80px;
	color="white";
}

.blok1
{
	background:#FFB6C1;
	
}

